# OS junk
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# Dependencies
node_modules/
venv/
.env
.env.*

# Builds/artifacts
build/
dist/
coverage/
*.log

# Python
__pycache__/
*.pyc

# Git
.git/
.gitmodules

# Others
.tmp/
.cache/
